body {
  background: #56c45f;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #d09426;
}

.main {
  display: grid;
  place-items: center;
}

.limit {
  color: red;
}

h1,
p {
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  background: #514bc4;
  border: solid #514bc4 1px;
  border-radius: 5px;
  padding: 5px;
}

#text-input {
  display: block;
  margin: 0 auto;
  background: #7acd60;
}
