* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#close-btn {
  color: lightgray;
  font-size: 40px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 1001;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#lightbox-image {
  max-height: 85%;
  max-width: 90%;
}
